<div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;interiores&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/interior/Cocinas/Interiorismo_cocina_10.jpg">
        <img class="img-fluid" src="images/projects/interior/Cocinas/Interiorismo_cocina_10.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-interiorismo-cocinas.html">Diseño y remodelación de cocinas</a>
          </h3>
          <p class="project-cat">Interiorismo</p>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;interiores&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/interior/OficinasAbac/Interiorismo_oficinas_17.jpg">
        <img class="img-fluid" src="images/projects/interior/OficinasAbac/Interiorismo_oficinas_17.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-interiorismo-oficinas.html">Remodelación oficinas Abac</a>
          </h3>
          <p class="project-cat">Interiorismo - Oficinas y espacios de trabajo</p>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;interiores&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/interior/13427932_1729015044053230_2206838773311230351_n.jpg">
        <img class="img-fluid" src="images/projects/interior/13427932_1729015044053230_2206838773311230351_n.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-interiorismo.html">Proyectos de interiorismo</a>
          </h3>
          <p class="project-cat">Interiorismo</p>
        </div>
      </div>
    </div>
  </div>