<div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obranueva&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/obranueva/AislamientoHumedad/AislamientoHumedad_6.jpg">
        <img class="img-fluid" src="images/projects/obranueva/AislamientoHumedad/AislamientoHumedad_6.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-nueva-casa.html">Trabajos de aislamiento de humedades</a>
          </h3>
          <p class="project-cat">Obra nueva</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obranueva&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/obranueva/sotogrande/obra-nueva-cadiz-sotogrande-1.jpg">
        <img class="img-fluid" src="images/projects/obranueva/sotogrande/obra-nueva-cadiz-sotogrande-1.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-nueva-casa-sotogrande.html">Obra nueva - Chalet en sotogrande, Cádiz</a>
          </h3>
          <p class="project-cat">Obra nueva</p>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obranueva&quot;,&quot;rehabilitacion&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/obranueva/IMG_7392.jpg">
        <img class="img-fluid" src="images/projects/obranueva/IMG_7392.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-ganaderia.html">Infrastructuras industriales y ganadería</a>
          </h3>
          <p class="project-cat">Obra nueva y reformas</p>
        </div>
      </div>
    </div>
  </div>