     
            
  
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obrapublica&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/obrapublica/illano/IllanoFinalizacion/image11.jpg">
                  <img class="img-fluid" src="images/projects/obrapublica/illano/IllanoFinalizacion/image11.jpg" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="project-public-illano.html">Nueva infrastructura en el concejo de Illano</a>
                    </h3>
                    <p class="project-cat">Obra pública</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 4 end -->
  
  
        
  
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obrapublica&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/obrapublica/IMG_6344.jpg">
                  <img class="img-fluid" src="images/projects/obrapublica/IMG_6344.jpg" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="project-public-diputacion-lugo.html">Infrastructuras para la diputación de Lugo</a>
                    </h3>
                    <p class="project-cat">Infrastructuras</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 5 end -->


            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obrapublica&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/obrapublica/toledo/toledocollage1.png">
                  <img class="img-fluid" src="images/projects/obrapublica/toledo/toledocollage1.png" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="project-public-otros.html">Adoquinados en la ciudad de Toledo</a>
                    </h3>
                    <p class="project-cat">Infrastructuras</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 5 end -->
  

            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obrapublica&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="images/projects/obrapublica/polideportivo/obrapublicapolideportivo18.jpg">
                  <img class="img-fluid" src="images/projects/obrapublica/polideportivo/obrapublicapolideportivo18.jpg" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="project-public-polideportivo.html">Techado y fachada Polideportivo en Toledo</a>
                    </h3>
                    <p class="project-cat">Infrastructuras</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 5 end -->
  
  