<div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;rehabilitacion&quot;,&quot;otros&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/rehabilitacion/IMG_6199.jpg">
        <img class="img-fluid" src="images/projects/rehabilitacion/IMG_6199.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-rehab1.html">Proyecto de rehabilitación Vivienda rústica</a>
          </h3>
          <p class="project-cat">Proyecto de rehabilitacion</p>
        </div>
      </div>
    </div>
  </div><!-- shuffle item 1 end -->

  <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;rehabilitacion&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/DSC_0466.jpg">
        <img class="img-fluid" src="images/projects/DSC_0466.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-sanesteban.html">Rehabilitación parcial en San Esteban de los buitres</a>
          </h3>
          <p class="project-cat">Proyecto de rehabilitacion</p>
        </div>
      </div>
    </div>
  </div><!-- shuffle item 2 end -->

  <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;rehabilitacion&quot;,&quot;otros&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/rehabilitacion/viviendarustica/ViviendaRustica_5.jpg">
        <img class="img-fluid" src="images/projects/rehabilitacion/viviendarustica/ViviendaRustica_5.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-fachada-vivienda-rustica.html">Rehabilitación fachada en vivienda rústica</a>
          </h3>
          <p class="project-cat">Rehabilitación</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;otros&quot;,&quot;rehabilitacion&quot;,&quot;obranueva&quot;]">
    <div class="project-img-container">
      <a class="gallery-popup" href="images/projects/rehabilitacion/331890992_3104687453158015_4130328746900899600_n.jpg">
        <img class="img-fluid" src="images/projects/rehabilitacion/331890992_3104687453158015_4130328746900899600_n.jpg" alt="project-image">
        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
      </a>
      <div class="project-item-info">
        <div class="project-item-info-content">
          <h3 class="project-item-title">
            <a href="project-exteriores.html">Proyectos de rehabilitacion de fachadas y espacios exteriores</a>
          </h3>
          <p class="project-cat">Fachadas y exteriores</p>
        </div>
      </div>
    </div>
  </div>