<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Inmotech - Gestión de Activos S.L.</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="obra nueva, obra publica, rehabilitacion de vivienda, obras, obra, albañilería, albañilería, fontanería, fachadas, construccion, construcciones, reforma, reformas, navia, asturias, occidente asturias, occidente de asturias, luarca, ribadeo, boal, coaña, lugo, vegadeo, valdes, valdés, interiorismo, construcciones y reformas, construcción de viviendas, proyectos industriales, fincas rusticas, naves industriales, infrastructuras industriales, infrastructuras ganaderas"/>

  <meta name="description" content="Inmotech, empresa de construcción y reformas en Navia, Asturias (España). Reformas en casas rústicas, obra nueva, interiorismo, etc.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0"> 
  <meta name=author content="Ernesto Moreno Edesa, Navia">
  
  <!-- theme meta -->
  <meta name="theme-name" content="Inmotech" />

  <!-- Favicon
================================================== -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">
  <!-- Animation -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <!-- Colorbox -->
  <link rel="stylesheet" href="plugins/colorbox/colorbox.css">
  <!-- Template styles-->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <div class="body-inner">

    <div id="top-bar" class="top-bar">
        <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-8">
                <!--<ul class="top-info text-center text-md-left">
                    <li><i class="fas fa-map-marker-alt"></i> <p class="info-text">C/ Venancio Martínez 17, 33710 Navia</p>
                    </li>
                </ul>-->
              </div>
              <!--/ Top info end -->
  
              <!--/ Top social end -->
          </div>
          <!--/ Content row end -->
        </div>
        <!--/ Container end -->
    </div>
    <!--/ Topbar end -->
