<section class="subscribe no-padding">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
              <h3>¿Cómo podemos ayudarte?</h3>
              <h4>(+34) 697 800 700</h4>
          </div>
        </div><!-- Col end -->

        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
              <div class="col-md-5 newsletter-introtext">
                <h4 class="text-white mb-0">Colabora con nosotros</h4>
                <p class="text-white">Únete a nuestra red local de colaboradores</p>
              </div>

              <div class="col-md-7 newsletter-form">
                
                <form action="#" method="post">
                    <table>
                      <tr>
                        <td>
                          <div class="form-group">
                            <label for="newsletter-email" class="content-hidden">email colaboradores</label>
                            <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Introduce tu email" autocomplete="off">
      
                            <select name="ambito" class="form-control form-control-lg custom-select" >
                              <option value="">Selecciona tipo de colaboración</option>
                              <option value="1">Proveedor materiales de construcción</option>
                              <option value="2">Profesional de construcción autónomo</option>
                              <option value="3">Arquitecto / Aparejador</option>
                              <option value="4">Servicios tramitación de subvenciones</option>
                              <option value="5">Interiorismo / Paisajismo</option>
                              <option value="6">Otros oficios</option>
                            </select>
      
                            
                          </div>
                        </td>
                        <td>

                        
                              <div style="padding: 5px;">
                                <a class="btn btn-primary" href="projects.html">Enviar</a>
                              </div>
                           
                        </td>
                      </tr>
                    </table>
                    
                    
                </form> 
              </div>
              
          </div><!-- Newsletter end -->
        </div><!-- Col end -->

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ subscribe end -->