<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">Noticias del sector de la construcción y reformas</h2>
          <h3 class="section-sub-title">Quizá te interese</h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="news-single.html" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="images/news/news1.jpg" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="https://www.idealista.com/news/inmobiliario/vivienda/2023/11/04/808588-cuales-son-las-ayudas-para-la-rehabilitacion-de-viviendas-en-espana" target="_blank" class="d-inline-block">¿Cuáles son las ayudas para la rehabilitación de viviendas en España?</a>
                </h4>
                <div class="latest-post-meta">
                  <span class="post-item-date">
                    <i class="fa fa-clock-o">Fuente</i> www.idealista.com
                    
                  </span><br>
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> 4 Noviembre 2023
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 1st post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="news-single.html" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="images/news/news2.jpg" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="https://planderecuperacion.gob.es/noticias/conoce-ayudas-europeas-rehabilitacion-viviendas-prtr" target="_blank" class="d-inline-block">Conoce las ayudas europeas para la rehabilitación de viviendas</a>
                </h4>
                <div class="latest-post-meta">
                  <span class="post-item-date">
                    <i class="fa fa-clock-o">Fuente</i> planderecuperacion.gob.es
                    
                  </span><br>
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> 30 Junio 2023
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 2nd post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="news-single.html" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="images/news/news3.jpg" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="https://sede.asturias.es/-/dboid-6269000060735545607573" target="_blank" class="d-inline-block">Programa de rehabilitación energética en edificios existentes en municipios de reto demográfico (Programa PREE 5000)</a>
                </h4>
                <div class="latest-post-meta">
                  <span class="post-item-date">
                    <i class="fa fa-clock-o">Fuente</i> Principado de Asturias
                    
                  </span><br>
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> Desde: 28/10/2021 00:00  -  Hasta: 02/01/2024 23:59
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 3rd post col end -->
    </div>
    <!--/ Content row end -->

    <div class="general-btn text-center mt-4">
        <a class="btn btn-primary" href="news-left-sidebar.html">Ver todas las noticias</a>
    </div>

  </div>
  <!--/ Container end -->
</section>
<!--/ News end -->