<section id="project-area" class="project-area solid-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-title">portfolio</h2>
        <h3 class="section-sub-title">Principales proyectos</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-12">
        <h3 class="column-title">Nuestros principales proyectos</h3>
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Todos
          </label>
          <label for="rehabilitacion">
            <input type="radio" name="shuffle-filter" id="rehabilitacion" value="rehabilitacion">Rehabilitación
          </label>
          <label for="obranueva">
            <input type="radio" name="shuffle-filter" id="obranueva" value="obranueva">Obra nueva
          </label>
          <label for="obrapublica">
            <input type="radio" name="shuffle-filter" id="obrapublica" value="obrapublica">Obra pública
          </label>
          <label for="interiores">
            <input type="radio" name="shuffle-filter" id="interiores" value="interiores">Interiores
          </label>
          <label for="otros">
            <input type="radio" name="shuffle-filter" id="otros" value="otros">Fachadas y espacios exteriores
          </label>
          <!-- <label for="residential">
            <input type="radio" name="shuffle-filter" id="residential" value="residential">Residential
          </label>
          <label for="healthcare">
            <input type="radio" name="shuffle-filter" id="healthcare" value="healthcare">Healthcare
          </label> -->
        </div><!-- project filter end -->


        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;rehabilitacion&quot;,&quot;otros&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/projects/rehabilitacion/IMG_6199.jpg">
                <img class="img-fluid" src="images/projects/rehabilitacion/IMG_6199.jpg" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="project-rehab1.html">Proyecto de rehabilitación Vivienda rústica</a>
                  </h3>
                  <p class="project-cat">Proyecto de rehabilitacion</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 1 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;rehabilitacion&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/projects/project2.jpg">
                <img class="img-fluid" src="images/projects/project2.jpg" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="project-sanesteban.html">Rehabilitación parcial en San Esteban de los buitres</a>
                  </h3>
                  <p class="project-cat">Proyecto de rehabilitacion</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 2 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obranueva&quot;,&quot;rehabilitacion&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/projects/obranueva/IMG_7392.jpg">
                <img class="img-fluid" src="images/projects/obranueva/IMG_7392.jpg" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="project-ganaderia.html">Infrastructuras industriales y ganadería</a>
                  </h3>
                  <p class="project-cat">Obra nueva y reformas</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 3 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obrapublica&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/projects/obrapublica/illano/1701169417592.jpg">
                <img class="img-fluid" src="images/projects/obrapublica/illano/1701169417592.jpg" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="project-public-illano.html">Nueva infrastructura en el concejo de Illano</a>
                  </h3>
                  <p class="project-cat">Obra pública</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 4 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;obrapublica&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/projects/obrapublica/IMG_6323.jpg">
                <img class="img-fluid" src="images/projects/obrapublica/IMG_6323.jpg" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="project-public-otros.html">Infrastructuras para la diputación de Lugo</a>
                  </h3>
                  <p class="project-cat">Infrastructuras</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 5 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;interiores&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/projects/interior/71102003_2423779874576740_8068395188533329920_n.jpg">
                <img class="img-fluid" src="images/projects/interior/71102003_2423779874576740_8068395188533329920_n.jpg" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="project-interiorismo.html">Proyectos de interiorismo</a>
                  </h3>
                  <p class="project-cat">Interiorismo</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 6 end -->



          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;otros&quot;,&quot;rehabilitacion&quot;,&quot;obranueva&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/projects/rehabilitacion/331890992_3104687453158015_4130328746900899600_n.jpg">
                <img class="img-fluid" src="images/projects/rehabilitacion/331890992_3104687453158015_4130328746900899600_n.jpg" alt="project-image">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="project-exteriores.html">Proyectos de rehabilitacion de fachadas y espacios exteriores</a>
                  </h3>
                  <p class="project-cat">Fachadas y exteriores</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 6 end -->
        </div><!-- shuffle end -->
      </div>

      <!-- <div class="col-12">
        <div class="general-btn text-center">
          <a class="btn btn-primary" href="projects.html">View All Projects</a>
        </div>
      </div> -->

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Project area end -->